.footer {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer__contact {
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 50px;
}

.footer__contact-icon {
    position: relative;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
}

.footer__contact-icon i {
    position: absolute;
    line-height: 26px;
    margin-left: -8.5px;
}

@media (max-width: 334px) {
    .footer__contact {
        justify-content: start;
        margin-left: -20px;
    }
    .footer__contact p {
        font-size: 15px;
    }
}