.header {
    height: 11.25rem;
}


/* socialmed */

.header--left__socialmed {
    height: 5rem;
    line-height: 7.5rem;
}

.header--left__socialmed a img {
    width: 1.5rem;
    margin-right: 0.25rem;
}


/* search */

.header--left__search {
    position: relative;
    padding-top: 0.5rem;
}

.menu--search {
    position: absolute;
    margin: 0.35rem 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
}

.menu__item {
    margin-top: 0.1rem;
    height: 1.5rem;
    background-color: rgba(114, 110, 110, 0.75);
}

#search__list {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin: 0.3rem;
    width: auto;
    z-index: 100;
}

#sname {
    margin: 0 0.5rem;
    color: white;
}

#sname:hover {
    cursor: pointer;
    transform: scale(1.025);
    color: black;
}

.header--left__search i {
    position: absolute;
    margin: 0.35rem;
    font-size: 1.125rem;
    color: #c4c4c4c4;
}

.header--left__search input {
    width: 11.25rem;
    height: 2.5rem;
    margin-left: 0.25rem;
    padding-left: 2.25rem;
    border-radius: 0.25rem;
    border: 1px solid #c4c4c4c4;
}

input[type="text"]::placeholder {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.3);
    font-family: quicksand, sans-serif;
}


/* search mobile */

.header--left-mobile__search {
    height: 9.25rem;
    line-height: 9.25rem;
    display: none;
}

.header--left-mobile__search i {
    font-size: 1.45rem;
    color: rgba(0, 0, 0, 0.75);
}


/* logo */

.header--center {
    height: 180px;
    background-image: url(../img/homepage/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}


/* cart, account */

.header--right {
    display: flex;
    justify-content: end;
    height: 11.25rem;
    line-height: 11.25rem;
}

.header--right a i {
    font-size: 1.45rem;
    padding-left: 1.25rem;
    color: rgba(0, 0, 0, 0.75);
}

@media (max-width:1023px) {
    .header {
        height: 8rem;
    }
    .header--center,
    .header--right,
    .header--left-mobile__search {
        height: 8rem;
        line-height: 8.5rem;
    }
    .header--left__socialmed,
    .header--left__search {
        display: none;
    }
    .header--left-mobile__search {
        display: flex;
        justify-content: start;
    }
}

@media (max-width:575px) {
    .header--left-mobile__search,
    .header--right {
        display: none;
    }
}