.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.sp:hover {
    text-decoration: none;
}


/* slideshow */

.slideshow {
    padding-top: 30px;
    transition: all .1s ease;
}

.mySlides1 {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow {
    position: relative;
    margin: auto;
    transition: all .1s ease;
}

.slideshow :hover {
    transform: scale(1.005);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 1rem;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}


/* category */

.home-category {
    margin-top: 20px;
}

.category--item {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    transition: all .1s ease;
}

.category--item:hover {
    transform: scale(1.025);
}

.category--item img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: 50% 50%;
}

.category--item-name {
    font-family: quicksand;
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.9375rem;
    font-weight: bold;
    text-align: center;
    height: 70px;
    line-height: 70px;
}


/* products */

.home-bestseller h5,
.home-debestie h5 {
    font-family: quicksand;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.bestseller--item {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 230px;
    display: block;
    transition: all .1s ease;
}

.bestseller--item:hover {
    transform: scale(1.025);
}

.bestseller--item-content p {
    font-family: quicksand;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0.4rem;
}

.bestseller--item img {
    width: 100%;
    height: 135px;
}

@media (max-width: 575px) {
    .bestseller--item {
        flex-direction: row !important;
        height: 8rem;
        width: 100%;
    }
    .card-img-container img {
        width: 9rem !important;
        height: 100%;
    }
}


/* debestie */

.home-debestie {
    margin-top: 3rem;
}

.home-debestie h4 {
    margin-bottom: 1.5rem;
    font-family: quicksand;
    font-weight: bold;
}

.home-debestie-banner {
    /* border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25); */
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    transition: all .1s ease;
}

.home-debestie-banner:hover {
    transform: scale(1.025);
}

.home-debestie-banner img {
    width: 55%;
}

.debestie--banner--title {
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 0.9375rem;
}

@media (max-width: 575px) {
    .home-debestie-banner {
        flex-direction: column;
    }
    .home-debestie-banner img {
        width: 100%;
    }
    .debestie--banner--title {
        text-align: start;
        padding: 25px 10px 5px 15px;
    }
}


/* deblog */

.home-debestie-blog {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    transition: all .1s ease;
}

.home-debestie-blog:hover {
    transform: scale(1.025);
}

.home-debestie-blog img {
    width: 100%;
}

.home-debestie-blog--title {
    padding: 1rem 1rem 0rem;
    color: rgba(0, 0, 0, 0.75);
    text-align: start;
    font-size: 0.9375rem;
}

.home-debestie-blog--title p {
    padding-top: 0.5rem;
}

.home-debestie-blog--title span {
    color: rgba(0, 0, 0, 0.75);
}

@media (max-width:992px) {
    .home-debestie-blog {
        display: none;
    }
}