.content--others {
    margin-top: 35px;
}


/* Định dạng các button mô tả cho nội dung*/

button.accordion {
    background-color: #eee;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 8px;
}


/* Thêm màu nền cho button được active hoặc được hover*/

button.accordion.active,
button.accordion:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}


/* Thiết lập cho phần nội dung, mặc định sẽ được ẩn đi */

div.panel {
    padding: 18px;
    background-color: white;
    display: none;
}