html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Quicksand, sans-serif;
}

html,
p {
    margin: 0px;
    padding: 0px;
}

.topbar {
    background-color: rgba(0, 0, 0, 0.75);
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 15px;
}


/* header */

.header {
    display: flex;
}

.header--center {
    width: 16.67%;
    text-align: center;
    margin-top: 50px;
}

.header--center img {
    width: 180px;
}

.header--right {
    text-align: end;
    width: 26.04%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: end;
}

.header--right i {
    margin-right: 18px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.header {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
}

.header--left {
    width: 26.04%;
    margin-left: 15.6%;
    padding-top: 45px;
}

.social-media img {
    width: 25px;
}

.search {
    position: relative;
    padding-top: 20px;
}

.search input {
    min-width: 40%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 15px;
    font-family: quicksand, sans-serif;
}

.search i {
    position: absolute;
    margin: 12px 7px;
    font-size: 20px;
    color: #c4c4c4;
}

input[type="text"]::placeholder {
    padding-left: 30px;
    font-size: 14px;
    color: #c4c4c4c4
}


/* nav */

.navigation {
    width: 100%;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navigation div {
    width: 12.5%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
}

.nav-HOME {
    margin-left: 18.75%;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}


/* footer */

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    height: 80px;
    justify-content: center;
    line-height: 70px;
    display: flex;
    color: white;
    font-size: 16px;
    margin-left: 0px;
}

.footer div.email,
.footer div.phone,
.footer div.address {
    height: 70px;
    display: flex;
    flex-direction: row;
}

.footer div.email {
    justify-content: end;
}

.footer div.phone {
    justify-content: center;
}

.footer div.address {
    justify-content: start;
}

.icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    margin: 20px 15px;
}

.icon i {
    position: absolute;
    margin-top: 2.5px;
    margin-left: -12px;
}