html,
body,
p {
    margin: 0;
    padding: 0;
}

.container {
    font-family: Quicksand, sans-serif;
}

.item {
    background-color: orange;
    height: 545px;
}


/* banner sale */

.bannerSale {
    background-image: url(../hinh/sale.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    height: 530px;
    width: 100%;
    padding-top: 10px;
}


/* nhóm sp */

.group-pro {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 0% !important;
    width: 220px;
    flex-wrap: wrap;
    margin-left: 50px;
}

.group-pro-item {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.group-pro--name {
    padding-top: 15px;
    font-weight: bold;
}

.group-pro--img {
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 180px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.img1 {
    background-image: url(../hinh/group1.png);
}

.img2 {
    background-image: url(../hinh/group2.png);
}

.img3 {
    background-image: url(../hinh/group3.png);
}

.img4 {
    background-image: url(../hinh/group4.png);
}


/* list sp */

.product {
    display: flex;
    flex-wrap: wrap;
}

.pro-item {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    height: 240px;
    width: 85%;
    line-height: 10px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.pro--img {
    background-image: url(../hinh/pro1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pro--name {
    padding-top: 20px;
    font-weight: bold;
}

.pro--price {
    padding-top: 15px;
}


/* bannerBlog */

.bannerBlog {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 470px;
    display: flex;
    flex-direction: row;
}

.bannerBlog-img {
    background-image: url(../hinh/DEBESTIE.png);
    background-repeat: no-repeat;
    text-align: start;
    width: 65%;
    margin-left: 25px;
    margin-top: 25px;
}

.bannerBlog-content {
    text-align: center;
    padding-top: 20%;
    margin-left: 10px;
    margin-right: 20px;
    width: 30%;
}


/* blog */

.debestie {
    display: flex;
    flex-direction: row;
}

.blognew {
    display: flex;
    flex-direction: column;
}

.blog-item {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    height: 135px;
    width: 450px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 25px;
}

.blog--img {
    background-repeat: no-repeat;
    background-position: start;
    margin-left: 10px;
    margin-top: 10px;
    width: 35%;
}

.blog--title {
    text-align: left;
    margin-top: 35px;
    margin-right: 15px;
    width: 70%;
}

.blog1 {
    background-image: url(../hinh/blog1.png);
}

.blog2 {
    background-image: url(../hinh/blog2.png);
}

.blog3 {
    background-image: url(../hinh/blog3.png);
}