@media(min-width: 740px) and (max-width: 1024px) {
    html,
    body {
        font-size: 2vh;
        width: auto;
    }
    #container {
        margin-left: 0vw;
    }
    img {
        width: 90vw;
        height: 60vh;
        margin: 10vh 3.5vw;
    }
    .frame {
        margin-top: -52vh;
        margin-left: 19vw;
        width: 60vw;
        height: 25vh;
    }
}


/* Mobile */

@media(max-width: 739px) {
    html,
    body {
        font-size: 2vh;
        width: auto;
    }
    #container {
        margin-left: 0vw;
    }
    img {
        width: 90vw;
        margin: 10vh 3vw;
        height: 50vh;
    }
    .frame {
        margin-top: -45vh;
        margin-left: 19vw;
        width: 60vw;
        height: 20vh;
    }
    #title {
        margin-top: 2vh;
    }
    p {
        margin-top: -4vh;
    }
}