<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_Délicat</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="../css/payment.css">
    <link rel="stylesheet" href="../css/blog.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js?fbclid=IwAR08_prufY-iqEwc4vj1AH9zaGtEQE8BUcawjBQlvBYWNWNHI_JaxzGpH30"></script>
    <script type="text/javascript" src="../javascript/render-blog.js"></script>
    <script type="text/javascript" src="../javascript/dirPagination.js"></script>
</head>

<body ng-app="AngularApp" ng-controller="DetailController" style="font-family: quicksand, sans-serif;">
    <!-- topbar -->
    <div w3-include-html="topbar.html"></div>

    <!-- header -->
    <div w3-include-html="header.html"></div>

    <!-- navbar -->

    <div class="sticky" w3-include-html="navbar.html"></div>

    <div class="container">
        <!--Slider-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner slider">
                <div class="carousel-item active">
                    <img class="d-block w-100 slider__background mt-7 container col-lg-12" src="../img/blog/slider.jpg" alt="First slide">
                    <div class="row">
                        <div class="col-lg-12 container__heading slider__body ">Bạn mơ ước một ngôi nhà xinh xắn? Hãy để DÉLICAT giúp bạn điều đó!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container__post-special">
            <div class="col-lg-12 row container__post">
                <div class="col-lg-9 container__post-special-item-wrap content--box" ng-repeat="p in blogs| limitTo : 1:2">
                    <a href="blog_detail.html?productID={{p.name}}">
                        <div class="container__post-special-item content--box">
                            <img src="{{p.image}}" alt="" class="container__post-special-img">
                            <div class="container__post-special-content">
                                <span class="container__post-special-logo">Delicat</span>
                                <p class="container__post-special-heading">
                                    <!-- Bắt đầu cuộc sống mới bằng việc tổng hợp dọn dẹp căn phòng. -->
                                    {{p.name}}
                                </p>
                                <p class="container__post-special-time">
                                    {{p.date}} <span>By</span> DieuAi 8 comments
                                </p>
                                <p class="container__post-special-description">
                                    Bắt đầu một cuộc sống mới, tiếp tục duy trì lối sống tối giản. Việc đầu tiên chúng ta cần làm chính là dọn dẹp căn phòng mình đang ở. Hãy tin mình đi, sau khi dọn dẹp chắc chắn rằng bạn sẽ có rất nhiều cảm hứng để làm việc cũng như bắt đầu mỗi ngày một
                                    cách ý nghĩa hơn....
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 container__sidebar-about-wrap content--box" ng-repeat="p in blogs| limitTo : 1:5">
                    <div class="row container__sidebar-about-btn-wrap">
                        <div class="col-lg-12 container__sidebar-about-btn">
                            <button class="container__sidebar-btn">ABOUT DÉLICAT</button>
                        </div>
                    </div>
                    <a href="blog_detail.html?productID={{p.name}}">
                        <div class="row container__sidebar-about-item-wrap content--box">
                            <div class="col-lg-12 container__sidebar-about-item">
                                <img src="{{p.image}}" alt="" class="container__sidebar-about-img">
                                <div class="container__sidebar-about-content">
                                    <p class="container__sidebar-about-logo">DÉLICAT</p>
                                    <p class="container__sidebar-about-time">{{p.name}}</p>
                                    <p class="container__sidebar-about-description content--box">
                                        Hi. Chúng mình là DÉLICAT. Đây là nơi chia sẻ kinh nghiệm nho nhỏ trong việc trang trí và làm mới không gian sống.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 container__heading">
                Xem bài viết mới nhất tại đây!
            </div>
        </div>
        <div class="row container__new-post">
            <div dir-paginate="p in blogs| itemsPerPage:8" class="col-lg-3 container__new-post-item-wrap page">
                <a href="blog_detail.html?productID={{p.name}}">
                    <div class="container__new-post-item">
                        <span class="content--box">
                        <img src="{{p.image}}" class="container__new-post-img">
                        <div class="container__new-post-content">
                            <p class="container__new-post-description">{{p.name}}</p>
                            <p class="container__new-post-time">{{p.date}}</p>
                        </div>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-12  ">
            <div class="quantity-container distance page1">
                <dir-pagination-controls max-size="4" direction-links="true" boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <div w3-include-html="footer.html "></div>
    <script>
        w3.includeHTML()
    </script>
    <script src="../javascript/search.js "></script>
</body>

</html>