html,
body {
    font-family: quicksand, sans-serif;
    color: black;
    position: relative;
    width: 1400px;
    height: 150vh;
    font-size: 2vh;
}


/* Khung giới thiệu */

#container {
    position: absolute;
    height: 100vh;
    width: 80vw;
    margin: 20vh 10vw;
}


/* border bọc ngoài thương hiệu */

#row1 {
    width: 80vw;
    height: 45vh;
    border: 1px solid rgba(131, 121, 121, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

#img1 {
    width: 25vw;
    height: 35vh;
    margin-left: 2vw;
    margin-top: 5vh;
}


/* Khung nội dung 1 */

#content1 {
    position: absolute;
    margin-top: -32vh;
    margin-left: 35vw;
    width: 35vw;
    height: 20vh;
}

#title {
    font-size: 25px;
    font-weight: bold;
}

hr {
    width: 10vw;
    margin-left: 0;
}


/* border bọc ngoài sản phẩm */

#row2 {
    width: 80vw;
    height: 45vh;
    border: 1px solid rgba(131, 121, 121, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10vh auto;
}

#img2 {
    width: 25vw;
    height: 35vh;
    margin-right: 2vw;
    margin-top: 5vh;
    float: right;
}


/* Khung nội dung 2 */

#content2 {
    position: absolute;
    margin-top: 10vh;
    margin-left: 8vw;
    width: 35vw;
    height: 20vh;
}


/* Phần cảm ơn */

#row3 {
    width: 50vw;
    height: 12vh;
    background-color: rgba(64, 64, 64, 0.75);
    margin: 0 auto;
}

#content3 {
    color: white;
    text-align: center;
    margin: 5vw;
    padding-top: 4vh;
}

#row4 {
    height: 20vh;
}