  @media(min-width: 740px) and (max-width: 1024px) {
      html,
      body {
          width: auto;
          height: auto;
      }
      #row1,
      #row2 {
          width: 80vw;
          height: 100vh;
      }
      #img1,
      #img2 {
          width: 70vw;
          height: 40vh;
          margin: 5vw;
      }
      /* Khung nội dung 1 */
      #content1 {
          margin-top: 5vh;
          margin-left: 13vw;
          text-align: justify;
          width: 50vw;
      }
      hr {
          width: 25vw;
      }
      /* Khung nội dung 2 */
      #content2 {
          margin-top: 50vh;
          margin-left: 13vw;
          text-align: justify;
          width: 50vw;
      }
      #content3 {
          padding-top: 2vh;
      }
  }
  /* Mobile */
  
  @media(max-width: 739px) {
      #container {
          margin-left: 0vw;
      }
      #row1,
      #row2 {
          width: 90vw;
          height: 100vh;
          margin-left: 2vw;
      }
      #img1,
      #img2 {
          width: 85vw;
          height: 40vh;
      }
      /* Khung nội dung 1&2 */
      #content1,
      #content2 {
          margin-top: 10vh;
          margin-left: 13vw;
          text-align: justify;
          width: 60vw;
      }
      #content2 {
          margin-top: 50vh;
      }
      hr {
          width: 30vw;
      }
      #row3 {
          width: 60vw;
          margin-left: 15vw;
      }
      #content3 {
          padding-top: 2vh;
      }
      html,
      body {
          width: auto;
      }
  }